@model Web.Models.DataSummaryModel
@Html.TextAreaFor(model => model.Data,new{disabled="disabled"})
<ul>
    <li><label>Numero de datos : </label>@Model.DataCount</li>
    <li><label>Dato Maximo : </label>@Model.Max</li>
    <li><label>Dato Minimo : </label>@Model.Min</li>
    <li><label>Numero de decimales : </label>@Model.DecimalCount</li>
    <li><label>Precision : </label>@Model.Precision</li>
</ul>