@model Web.Models.DispersionSummaryModel
<ul>
    @ShowInquiry("Rango",Model.DataRange)
    @ShowInquiry("Rango Intercuartil",Model.InterQuartileRange)
    @ShowInquiry("Rango Interdecil",Model.InterDecileRange)
    @ShowInquiry("Rango Interpercentil",Model.InterPercentileRange)
    @ShowInquiry("Desviacion Media",Model.AbsoluteDeviation)
    @ShowInquiry("Varianza",Model.Variance)
    @ShowInquiry("Desviacion Estandar",Model.StandarDeviation)
    @ShowInquiry("Coeficiente de Variacion (%)",Model.CoefficientOfVariation)
    @ShowInquiry("Coeficiente de Simetria",Model.CoefficientSymmetry)
    @ShowInquiry("Coeficiente de Curtosis",Model.CoefficientOfKourtosis)
</ul>
@helper ShowInquiry(string name, dynamic value)
{
    <li><label>@name : </label>@Math.Round((double)value,4)</li>
}