@model dynamic
@Model.AddAcumulatedRelativeFrequencies()
<h4 class="demo6">Tabla de Distribución de Frecuencias</h4>
<div class="panel">
    <ul>
        <li><label>Rango (R): </label>@Model.Range</li>
        <li><label>Grupo (K): </label>@Model.GroupsCount</li>
        <li><label>Amplitud (C): </label>@Model.Amplitude</li>
    </ul>
    @Html.Partial("DistributionTable", (IEnumerable<dynamic>)Model.GetTable())
</div>
@Html.Partial("Graphs", (object)Model)