@{
/*
 * Copyright (C) 2012 Hector Eduardo Diaz Campos
 * 
 * This file is part of Mx.DotNet.Statistics.
 * 
 * Mx.DotNet.Statistics is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * Mx.DotNet.Statistics is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Mx.DotNet.Statistics.  If not, see <http://www.gnu.org/licenses/>.
 */
 }
@model Web.Models.GroupedReportModel
<h3>Tabla de Distribucion de Frecuencias</h3>
<div>
    <ul>
        <li><label>Rango (R): </label>@Model.Range</li>
        <li><label>Grupos (K): </label>@Model.GroupsCount</li>
        <li><label>Amplitud (C): </label>@Model.Amplitude</li>
    </ul>
    @Html.Partial("DistributionTable", (IEnumerable<dynamic>)Model.Table)
</div>
<h3>Histograma</h3>
<div>
    @(Model.Histogram)
</div>
<h3>Ojiva</h3>
<div>
    @(Model.Ogive)
</div>