@model Web.Models.StubModel
@Ajax.ActionLink(">>>","RandomSample","Home",new{size=115}, new AjaxOptions{OnSuccess="loadtext"}, new{id="random"})
@using(Html.BeginForm())
{
    @Html.TextAreaFor(model => model.Data)<br />
    @Html.ValidationMessageFor(x => x.Type)    
    <div id="radio">
        @Html.RadioButtonFor(model => model.Type, "ungrouped", new{@checked="checked", id="radio1"})<label for="radio1">No Agrupados</label>
        @Html.RadioButtonFor(model => model.Type, "grouped", new{id="radio2"})<label for="radio2">Agrupados</label>
    </div>
    <input type="submit" value="Analizar" />  
}
<script type="text/javascript">
$(function() {
    $( "input[type=submit], a[id=random], button" )
        .button()
        .click(function( event ) {
            
        });
    $( "#radio" ).buttonset();              
});

function loadtext(result)
{
    $("#Data").html(result);
}
</script>