@model Web.Models.StubModel
<div id="result">
@using(Html.BeginForm())
{
    @Html.TextAreaFor(model => model.Data)<br />
    @Html.Label("No Agrupados") @Html.RadioButtonFor(model => model.Type, "ungrouped", new{@checked="checked"})
    @Html.ValidationMessageFor(x => x.Type)    
    @Html.Label("Agrupados") @Html.RadioButtonFor(model => model.Type, "grouped")
    <input type="submit" value="Analizar" />   
}

</div>