@{
/*
 * Copyright (C) 2012 Hector Eduardo Diaz Campos
 * 
 * This file is part of Mx.DotNet.Statistics.
 * 
 * Mx.DotNet.Statistics is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * Mx.DotNet.Statistics is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Mx.DotNet.Statistics.  If not, see <http://www.gnu.org/licenses/>.
 */
 }
@model Web.Models.StubModel
@Ajax.ActionLink(">>>","RandomSample","Home",new{size=115}, new AjaxOptions{OnSuccess="loadtext"}, new{id="random"})
@using(Html.BeginForm())
{
    @Html.TextAreaFor(model => model.Data, new {style="display: block; width:100%; height:200px;"})<br />
    @Html.ValidationMessageFor(x => x.Type)    
    <div id="radio">
        @Html.RadioButtonFor(model => model.Type, "ungrouped", new{@checked="checked", id="radio1"})<label for="radio1">No Agrupados</label>
        @Html.RadioButtonFor(model => model.Type, "grouped", new{id="radio2"})<label for="radio2">Agrupados</label>
    </div> 
}
<script type="text/javascript">
$(function() {
    $( "#random").button();
    $( "#radio" ).buttonset();
    $( "#radio input" ).each(function (){
        $(this).click(function (){
            $("form").submit();
        });
    });
});

function loadtext(result)
{
    $("#Data").html(result);
}
</script>