@using System.Collections.Generic
@model dynamic

<fieldset>
    <legend>Datos originales</legend>
    <textarea disabled="disabled">@ShowNumberList(Model.Container.Data)</textarea>
</fieldset>
<fieldset>
    <legend>Reporte general</legend>
    <fieldset>
        <legend>Resumen de los datos</legend>
        <ul>
            <li><label>Número de datos: </label>@Model.Container.DataCount</li>
            <li><label>Dato Máximo: </label>@Model.Container.Max</li>
            <li><label>Dato Mínimo: </label>@Model.Container.Min</li>
            <li><label>Número de decimales: </label>@Model.Container.DataPrecision</li>
            <li><label>Precisión: </label>@Model.Container.DataPrecisionValue</li>
        </ul>
    </fieldset>

    <fieldset>
        <legend>Medidas de tendencia central</legend>
        <ul>
            @ShowInquiry("Media",Model.GetMean())
            @ShowInquiry("Mediana",Model.GetMedian())
            <li><label>Moda(s): </label>{@ShowNumberList(Model.GetModes())}</li>
        </ul>
    </fieldset>    

    <fieldset>
        <legend>Medidas de dispersion</legend>
        <ul>
            @ShowInquiry("Rango",Model.GetDataRange())
            @ShowInquiry("Rango Intercuartil",Model.GetInterQuartileRange())
            @ShowInquiry("Rango Interdecil",Model.GetInterDecileRange())
            @ShowInquiry("Rango Interpercentil",Model.GetInterPercentileRange())
            @ShowInquiry("Desviación Media",Model.GetAbsoluteDeviation())
            @ShowInquiry("Varianza",Model.GetVariance())
            @ShowInquiry("Desviación Estándar",Model.GetStandarDeviation())
            @ShowInquiry("Coeficiente de Variación (%)",Model.GetCoefficientOfVariation() * 100)
            @ShowInquiry("Coeficiente de Simetría",Model.GetCoefficientOfSymmetry())
            @ShowInquiry("Coeficiente de Curtosis",Model.GetCoefficientOfKourtosis())
        </ul>
    </fieldset>    
@if(ViewBag.Type == "grouped"){
    @Html.Partial("GroupedReport", (object)Model);
}    
</fieldset>

@helper ShowNumberList(IEnumerable<double> list)
{
    var text = "";
    foreach (var item in list) {
        text += Math.Round((double)item, 4) + " ,";
    } 
    text=text.Substring(0,text.Length-2);
@text
}

@helper ShowInquiry(string name, dynamic value)
{
    <li><label>@name : </label>@Math.Round((double)value,4)</li>
}